{% extends 'base.html' %}

{% block title %}首页{% endblock %}


{% block main %}

    <div class="classes">
        <ul class="classes-items">
                    <li class="items"><a href="http://127.0.0.1:8000/category/7">男装</a></li>


                    <li class="items active "><a href="http://127.0.0.1:8000/category/8">女装</a></li>


                    <li class="items"><a href="http://127.0.0.1:8000/category/9">鞋子</a></li>


                    <li class="items"><a href="http://127.0.0.1:8000/category/10">箱包</a></li>


                    <li class="items"><a href="http://127.0.0.1:8000/category/11">母婴</a></li>


                    <li class="items"><a href="http://127.0.0.1:8000/category/12">美妆</a></li>


                    <li class="items"><a href="http://127.0.0.1:8000/category/13">居家</a></li>


                    <li class="items"><a href="http://127.0.0.1:8000/category/14">家纺</a></li>


                    <li class="items"><a href="http://127.0.0.1:8000/category/15">文体</a></li>


                    <li class="items"><a href="http://127.0.0.1:8000/category/16">美食</a></li>


                    <li class="items"><a href="http://127.0.0.1:8000/category/17">数码</a></li>


                    <li class="items"><a href="http://127.0.0.1:8000/category/18">电器</a></li>


                    <li class="items"><a href="http://127.0.0.1:8000/category/19">内衣</a></li>


                    <li class="items"><a href="http://127.0.0.1:8000/category/20">装饰</a></li>





        </ul>
    </div>

    <div class="goods-model">
            <div class="goods-content">



                        <div class="good">
                            <a href="http://127.0.0.1:8000/goodsdetails/4">
                                <img src="/static/hong_Dm4fQ6U.jpg" width="285px" height="285px">
                                <p class="name">90绒大毛领保暖羽绒服</p>
                                <div class="price">
                                    <i>￥</i>
                                    <p class="big">99.00</p>
                                    <s>￥499.00</s>
                                </div>
                                <div class="sale">
                                    特卖
                                </div>
                            </a>
                        </div>



                        <div class="good">
                            <a href="http://127.0.0.1:8000/goodsdetails/5">
                                <img src="/static/bai_mt1VrH5.jpg" width="285px" height="285px">
                                <p class="name">秋时尚印花两件套装裙</p>
                                <div class="price">
                                    <i>￥</i>
                                    <p class="big">35.00</p>
                                    <s>￥100.00</s>
                                </div>
                                <div class="sale">
                                    特卖
                                </div>
                            </a>
                        </div>



                        <div class="good">
                            <a href="http://127.0.0.1:8000/goodsdetails/6">
                                <img src="/static/hong_y7wQwRw.jpg" width="285px" height="285px">
                                <p class="name">韩版侧开叉宽松毛衣</p>
                                <div class="price">
                                    <i>￥</i>
                                    <p class="big">39.00</p>
                                    <s>￥369.00</s>
                                </div>
                                <div class="sale">
                                    特卖
                                </div>
                            </a>
                        </div>



                        <div class="good">
                            <a href="http://127.0.0.1:8000/goodsdetails/7">
                                <img src="/static/lan_BKQdpOj.jpg" width="285px" height="285px">
                                <p class="name">无袖套头毛衣马甲女秋</p>
                                <div class="price">
                                    <i>￥</i>
                                    <p class="big">39.00</p>
                                    <s>￥296.00</s>
                                </div>
                                <div class="sale">
                                    特卖
                                </div>
                            </a>
                        </div>



                        <div class="good">
                            <a href="http://127.0.0.1:8000/goodsdetails/8">
                                <img src="/static/hong_zHPXVqY.jpg" width="285px" height="285px">
                                <p class="name">红色原宿bf风小外套</p>
                                <div class="price">
                                    <i>￥</i>
                                    <p class="big">69.00</p>
                                    <s>￥229.00</s>
                                </div>
                                <div class="sale">
                                    特卖
                                </div>
                            </a>
                        </div>



                        <div class="good">
                            <a href="http://127.0.0.1:8000/goodsdetails/9">
                                <img src="/static/lan_IThSO4Z.jpg" width="285px" height="285px">
                                <p class="name">不规则毛边喇叭牛仔裤</p>
                                <div class="price">
                                    <i>￥</i>
                                    <p class="big">65.00</p>
                                    <s>￥199.00</s>
                                </div>
                                <div class="sale">
                                    特卖
                                </div>
                            </a>
                        </div>



                        <div class="good">
                            <a href="http://127.0.0.1:8000/goodsdetails/10">
                                <img src="/static/lan_ELubwxG.jpg" width="285px" height="285px">
                                <p class="name">宽松短款牛仔外套</p>
                                <div class="price">
                                    <i>￥</i>
                                    <p class="big">79.00</p>
                                    <s>￥259.00</s>
                                </div>
                                <div class="sale">
                                    特卖
                                </div>
                            </a>
                        </div>



                        <div class="good">
                            <a href="http://127.0.0.1:8000/goodsdetails/11">
                                <img src="/static/lv_H5hkmmq.jpg" width="285px" height="285px">
                                <p class="name">气质收腰显瘦连衣裙</p>
                                <div class="price">
                                    <i>￥</i>
                                    <p class="big">69.00</p>
                                    <s>￥199.00</s>
                                </div>
                                <div class="sale">
                                    特卖
                                </div>
                            </a>
                        </div>



                        <div class="good">
                            <a href="http://127.0.0.1:8000/goodsdetails/12">
                                <img src="/static/hui.jpg" width="285px" height="285px">
                                <p class="name">针织袖拼接毛呢打底裙</p>
                                <div class="price">
                                    <i>￥</i>
                                    <p class="big">69.00</p>
                                    <s>￥199.00</s>
                                </div>
                                <div class="sale">
                                    特卖
                                </div>
                            </a>
                        </div>



                        <div class="good">
                            <a href="http://127.0.0.1:8000/goodsdetails/13">
                                <img src="/static/hei_kYyKPNv.jpg" width="285px" height="285px">
                                <p class="name">双排扣假两件连衣裙</p>
                                <div class="price">
                                    <i>￥</i>
                                    <p class="big">69.00</p>
                                    <s>￥299.00</s>
                                </div>
                                <div class="sale">
                                    特卖
                                </div>
                            </a>
                        </div>



                        <div class="good">
                            <a href="http://127.0.0.1:8000/goodsdetails/14">
                                <img src="/static/lv_sxlJZTq.jpg" width="285px" height="285px">
                                <p class="name">修身包臀蕾丝打底裙</p>
                                <div class="price">
                                    <i>￥</i>
                                    <p class="big">69.00</p>
                                    <s>￥199.00</s>
                                </div>
                                <div class="sale">
                                    特卖
                                </div>
                            </a>
                        </div>



                        <div class="good">
                            <a href="http://127.0.0.1:8000/goodsdetails/15">
                                <img src="/static/ju.jpg" width="285px" height="285px">
                                <p class="name">修身显瘦格子打底裙</p>
                                <div class="price">
                                    <i>￥</i>
                                    <p class="big">69.90</p>
                                    <s>￥259.00</s>
                                </div>
                                <div class="sale">
                                    特卖
                                </div>
                            </a>
                        </div>








            </div>
        </div>

    <div id="pager" style="text-align: center; font-size: 16px; overflow: hidden; margin-top: 10px;">

        <a href="http://127.0.0.1:8000/category/8/page/2" style="display: inline-block; padding: 5px; margin: 5px;">下一页</a>

    </div>


{% endblock %}


{% block footerjs %}

     <script>
        $('#pager').css({'text-align':'center','font-size':'16px','overflow':'hidden','margin-top':'10px'})
        $('#pager a').css({'display':'inline-block','padding':'5px','margin':'5px'})

    </script>

{% endblock %}















