{% extends 'layout.html' %}

{% block css %}
    <style>
        .message {
            height: 300px;
            border: 1px solid #dddddd;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="message" id="message"></div>
    <div>
        <input type="text" placeholder="请输入" id="txt">
        <input type="button" value="发送" onclick="sendMessage();">
    </div>
{% endblock %}

{% block js %}
    <script>
        USER_UID = "{{ uid }}";
        const MAX_REQUESTS = 5; // 最大请求次数
        let requestCount = 0; // 请求计数器

        function sendMessage() {
            let text = $("#txt").val();

            $.ajax({
                url: '/send/msg/',
                type: 'GET',
                data: {
                    text: text
                },
                success: function (res) {
                    console.log("请求发送成功", res)
                }
            })
        }

        function getMessage() {
            $.ajax({
                url: '/get/msg/',
                type: 'GET',
                data: {
                    uid: USER_UID,
                },
                dataType: "JSON",
                success: function (res) {
                    // 超时，没有数据
                    // 有新数据，暂时信息数据
                    if (res.status) {
                        //将内容拼成div标签，并添加到message区域
                        var tag = $("<div>");
                        tag.text(res.data)  //<div>啊大大</div>
                        $("#message").append(tag);
                    }
                    // 请求次数
                    requestCount++;
                    // 检查是否达到最大请求次数
                    if (requestCount === MAX_REQUESTS) {
                        console.log('达到最大请求次数，结束长轮询');
                        return; // 结束长轮询
                    }
                    getMessage();//JS该模式实际不是递归，不会栈溢出
                }
            })
        }

        $(function () {
            getMessage();
        })

    </script>
{% endblock %}