{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">表单</div>
            <div class="panel-body">

                <form id="formAdd">
                    <div class="clearfix">
                        {% for filed in form %}
                            <div class="col-xs-6">
                                <div class="form-group" style="position: relative;margin-bottom: 20px;">
                                    <label>{{ filed.label }}</label>
                                    {{ filed }}
                                    <span class="error-msg" style="color: red;position: absolute;"></span>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-xs-12">
                            <button id="btnAdd" type="button" class="btn btn-primary">提 交</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                任务列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <th>级别</th>
                    <th>负责人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th scope="row">{{ obj.id }}</th>
                        <td>{{ obj.title }}</td>
                        <td>{{ obj.get_level_display }}</td>
                        <td>{{ obj.user.username }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="#">编辑</a>
                            <a class="btn btn-danger btn-xs" href="#">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <ul class="pagination">
            {{ page_string }}
        </ul>

        <div style="height: 1000px"></div>

        <hr/>
        <div>
            <h1>Ajax学习</h1>
            <h3>示例1</h3>
            <input id="btn1" type="button" class="btn btn-primary" value="点击"/>

            <h3>示例2</h3>
            <input id="txtUser" type="text" placeholder="用户名"/>
            <input id="txtAge" type="text" placeholder="年龄"/>
            <input id="btn2" type="button" class="btn btn-primary" value="点击"/>

            <h3>示例3</h3>
            <form id="form3">
                <input name="User" type="text" placeholder="用户名"/>
                <input name="Age" type="text" placeholder="年龄"/>
                <input name="Emil" type="text" placeholder="邮箱"/>
            </form>
            <input id="btn3" type="button" class="btn btn-primary" value="点击"/>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            // 页面框架加载完成之后代码自动执行
            bindBtn1Event();
            bindBtn2Event();
            bindBtn3Event();

            bindBtnAddEvent();
        })

        function bindBtn1Event() {
            $('#btn1').click(function () {
                $.ajax({
                    url: '/task/ajax/',
                    type: 'post',
                    data: {
                        n1: 123,
                        n2: 123
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        console.log(res.status);
                        console.log(res.data);
                    }
                })
            })
        }

        function bindBtn2Event() {
            $('#btn2').click(function () {
                $.ajax({
                    url: '/task/ajax/',
                    type: 'post',
                    data: {
                        name: $('#txtUser').val(),
                        age: $('#txtAge').val()
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        console.log(res.name);
                        console.log(res.age);
                    }
                })
            })
        }

        function bindBtn3Event() {
            $('#btn3').click(function () {
                $.ajax({
                    url: '/task/ajax/',
                    type: 'post',
                    data: $('#form3').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        console.log(res.status);
                        console.log(res.data);
                    }
                })
            })
        }

        function bindBtnAddEvent() {
            $('#btnAdd').click(function () {

                $('.error-msg').empty();

                $.ajax({
                    url: '/task/add/',
                    type: 'post',
                    data: $('#formAdd').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            alert("添加成功");
                            // 用JS实现页面的刷新
                            location.reload();
                        } else {
                            $.each(res.error, function (name, data) {
                                // console.log(name, data);
                                $('#id_' + name).next().text(data[0]);
                            })
                        }
                    }
                })
            })
        }

    </script>
{% endblock %}